<%= render 'layouts/header' %>

<h2>Upload Image</h2>
<%= simple_form_for @image do |f| %>
  <%= f.input :url, label: 'Image URL' %>
  <%= f.input :tag_list, label: 'Tag List' %>
  <%= f.button :submit%>
<% end %>
